body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
}

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "Pixelify Sans";
  font-style: normal;
  font-weight: 400;
  src: url("\\assets\\PixelifySans-Regular.ttf") format("truetype");
}